{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1> {{user.get_full_name}}(@{{user.username}}) </h1>

{% with profile=user.profile %}
    {% if profile %}
        <h2>
            {{ profile.persona|default:""}}
        </h2>
        <div>
            {{ profile.bio|default:""}}
        </div>
        <div>
            {% with website=profile.website|default:"" %}
                <a href="{{website}}"">{{website}}</a>
            {% endwith %}
        </div>
        <br>
        <div>
            Interests:
            {% for interest in profile.interest.all %}
                <span>
                    {{ interest.name }}{% if not forloop.last %}, {% endif %}
                </span>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
{% endblock %}
