<div>
  <span> <a href="{% url 'public:index' %}"> Home </a></span>
  <span><a href="{% url 'public:about' %}"> About </a></span>
  <span><a href="{% url 'public:contact' %}"> Contact </a></span>
  <span style="float: right">
    {% if user.is_authenticated %}
    <span>
      Hi <a href="{% url 'accounts:profile' %}"> {{ user.username }}!</a>
      <a href="{% url 'accounts:logout' %}">Logout</a>
    </span>
    {% else %}
    <span> <a href="{% url 'accounts:login' %}"> Login </a></span>
    {% endif %}
  </span>
</div>
